<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=osclass;Uid=root;Pwd=root_pass" name="osclass" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>