$text-color-contrasted: false;

$maincolor: #de3544;
$darkgray: #242121;
$lightgray: #f7f7f5;
$text-color-contrasted: #fff;
$buttonDarken: 5%;
$textcolor:#737373;
$linkcolor:#2390ed;
$contrasted-default-dark:   #000;
$contrasted-default-light:  #fff;
$contrasted-default-extremelight: #35c3d9; 
$widgetbackground: #fbfbfb;
$widgetbordercolor: darken($widgetbackground,5%);