@import "colors.scss";

.navbar {
box-shadow: 0 2px 10px #ababab;
background: #fff;
border: 0;
}


.header {

.logo img {
width: auto;
height: 60px;
}

.page-list, .page-list li {
display: inline-block;
}

.btn-primary {
line-height: 1.8;
font-size: 16px;
font-weight: 500;
}

.btn-primary:hover {
color: #fff;
}

.pure-menu-list {
display: inline-block;
}

}

.divider {
height: 1px;
margin: 9px 0;
padding: 0 !important;
overflow: hidden;
background-color: #ddd;
}

.search-header {
display: inline-block;
border: 1px solid #777;
text-align: left;
position: relative;
vertical-align: middle;

.icon-search {
cursor: pointer;
height: 40px;
width: 45px;
text-align: center;
font-size: 26px;
transition: background ease 500ms;
}


.icon-search:hover {
color: #fff;
background-color: #222;
}

.input-text {
border: 0;
height: 40px;
width: 30vw;
}
}

.dropdown-menu {
margin-top: 7px;
}

.dropdown-menu > li > a {
text-transform: none;
padding: 0;
font-size: 1em;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:hover > a {
color: $maincolor;
background-color: #f2f2f2;
}


.dropdown-menu li {
position: relative;
display: block;
padding: 5px 15px;
font-size: 16px;
white-space: nowrap;
clear: both;
}


.dropdown-menu > li > ul {
display: none;
background: #fff;
position: absolute;
top: 0;
left: 100%;
width: 200px;
padding: 15px 0;
box-shadow: 10px 5px 10px rgba(0,0,0,.15);
text-align: left;
text-transform: none;
}

.dropdown-menu li:hover ul {
display: block;
}

.user-avatar {
border-radius: 50%;
width: 30px;
height: 30px;
margin-right: 5px;
}

.logo-user-menu {
display: inline-block;
margin-right: 10px;
position: relative;

> a {
display:inline-block;
padding: 0 10px;
cursor: pointer;
height: 65px;
line-height: 65px;

&:hover {
background: #f5f5f5;
}
}

.fa {
vertical-align: middle;
margin-left: 5px;
}

+ .dropdown-menu {
right: auto;
left: 0;
}
}

.user-logo-header-menu.open .dropdown-menu {
display: block;
text-align: left;
z-index: 9999;
width: 200px;
}

.custom-wrapper {
-webkit-font-smoothing: antialiased;
-webkit-transition: height 0.5s;
-moz-transition: height 0.5s;
-o-transition: height 0.5s;
transition: height 0.5s;
height: 3.6em;
background-color: $darkgray;
box-shadow: rgba(50, 50, 50, 0.168627) 0 1px 10px 0;
}

.pure-menu-item {
list-style: none;
display: inline-block;
vertical-align: middle;
line-height: 50px;
}

.custom-wrapper .pure-u-1 {
line-height: 30px;
}

.custom-menu-2 {
text-align: center;
}

.custom-menu-3 {
text-align: right;
}

.custom-wrapper.open {
height: auto;
}

.open .pure-menu.custom-can-transform {
display: block;
}

.custom-toggle {
width: 34px;
height: 34px;
display: block;
position: absolute;
top: 0;
right: 0;
}

.custom-toggle .bar {
background-color: #fff;
display: block;
width: 25px;
height: 2px;
border-radius: 100px;
position: absolute;
top: 20px;
right: 10px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.custom-toggle .bar:first-child {
-webkit-transform: translateY(-8px);
-moz-transform: translateY(-8px);
-ms-transform: translateY(-8px);
transform: translateY(-8px);
}

.custom-toggle.x .bar {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.top-header {
background: #555;

.container > ul > li {
display: inline-block;
padding: 7px 10px;

&:hover {
background: #444;
}
}

.md-icon {
font-size: 18px;
}


a {
color: #fff;
}
}

.categories-dropdown, .search-dropdown {
display: inline-block;
text-align: left;

> a {
text-transform: uppercase;
font-size: 1.3em;
cursor: pointer;
text-decoration: none;
line-height: 65px;
display: block;
padding: 0 15px;
transition: all ease .5s;
}
> a:hover {
background:#444;
color:#fff;
}

}

.categories-dropdown {
.dropdown {
position: fixed;
left:0;
top: 65px;
visibility: hidden;
opacity: 0;
background: #fff;
border-top: 3px solid #6a6a6a;
border-bottom: 3px solid #6a6a6a;
width: 100%;
line-height: 1.6;
text-align: center;
transition: all ease 700ms;

> ul {
display: inline-block;
vertical-align: top;
padding: 15px 30px;
text-transform: none;
}

> ul li a {
font-size: 16px;
}

li.cat {
text-transform: uppercase;
font-weight: bold;
}

}

&:hover > .dropdown {
visibility: visible;
opacity: .95;
}
}

.header-search {
visibility: hidden;
opacity: 0;
position: absolute;
top: -65px;
left: 0;
transition: all ease 700ms;
width: 100%;
z-index: -1;
}

.search-dropdown:hover .header-search {
top: 65px;
visibility: visible;
opacity: .95;
}


.subheader {
z-index: 999;
background: #fff;
border-top: 1px solid #777;
border-bottom: 1px solid #777;
}


.submenu {
z-index: 1000;
background: #fff;
position: absolute;
top: 100%;
left: 0;
opacity: 0;
visibility: hidden;
min-width: 180px;
border: 1px solid #999;
border-top: 0;
transition: all ease 600ms;
margin: 0;
padding: 0;
}

.submenu li {
padding: 3px 25px;
}

.menu {
padding: 0;
margin: 0;
}

.menu > li {
display: inline-block;
position: relative;
padding: 10px 25px;
text-transform: uppercase;
font-size: 16px;
border: 2px solid transparent;
}

.submenu > li > a {
display: block;
width: 100%;
}

.menu > li:hover {
visibility: visible;
opacity: 1;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 2px solid $maincolor;
}

.menu > li:hover .submenu {
visibility: visible;
opacity: 1;
}


#header_map img {
min-width: 100%;
max-width: 100%;
width: auto;
height: auto;
}

#header_map {
background-image: url("../images/blog11.png");
background-size: cover;
height: 560px;
width: 100%;
text-align: center;
position: relative;
border-bottom: 1px solid #777;

.overlay {
width: 100%;
height: 100%;
background: rgba(33, 30, 30, 0.50);
}

.headline {
margin: auto;
padding: 120px 0 60px 0;
color: #fff;
text-align: center;
max-width: 580px;

h1 {
text-transform: uppercase;
font-size: 2.8em;
margin-bottom: 20px;
}

h6 {
font-size: 1.8em;
line-height: 2;
}
}
}

ul.breadcrumb {
background: none;
font-size: 12px;
margin: 5px 0;
padding: 5px;

li {
display: inline-block;
width: auto;
}
}


#content {
padding-top: 65px;
}
