.has-placeholder {
  position: relative;
  display: block;
}
.has-placeholder label {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  color: #939393;
  line-height: 38px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: 0 15px;
  overflow: hidden;
}

textarea {
  height: 150px;
}

input[type=text], input[type=password], textarea, .select-box select {
  font: 400 14px/35px 'Open Sans', sans-serif;
  border: solid 1px #ccc;
  border-radius: 2px;
  background-color: #fff;
  min-height: 38px;
  line-height: 38px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, .select-box select:focus {
  box-shadow: 0 2px 5px #ddd;
  outline: none;
}

.select-box {
  border: solid 1px #ccc;
  border-radius: 2px;
  font-size: 1em;
}

.link {
  color: #de3544;
}

.link:hover {
  text-decoration: underline;
}

a {
  color: #636363;
}

a:hover {
  color: #535353;
  text-decoration: underline;
}

a.btn:hover {
  text-decoration: none;
}

.btn, button, .ui-button {
  display: inline-block;
  padding: 8px 30px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  line-height: 1.5;
  transition: all ease-in 300ms;
}

b, strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* Selectmenu
----------------------------------*/
div.select-box-focus {
  outline: 0;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.select-box {
  z-index: 0;
  position: relative;
  display: inline-block;
  width: auto;
  overflow: hidden;
  background-image: none;
  background-color: #fff;
}
.select-box .select-box-label {
  overflow: hidden;
  display: block;
  float: left;
  position: absolute;
  top: 0;
  padding: 0px 15px;
  height: 100%;
  line-height: 38px;
}
.select-box a:hover {
  text-decoration: none;
}
.select-box select {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  -webkit-appearance: none;
  z-index: 1003;
  padding-right: 45px;
}

.select-box-icon {
  z-index: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 100%;
  width: 24px;
  text-decoration: none;
  display: block;
  font-family: "Ionicons";
  text-align: left;
  font-size: 16px;
}
.select-box-icon:before {
  content: "\f123";
}

input.ui-button,
button.ui-button {
  padding-left: 10px;
  padding-right: 10px;
}

a.ui-button {
  line-height: 34px;
}

.ui-button-middle {
  height: 36px;
  font-size: 1em;
  line-height: 1em;
}

.doublebutton {
  float: right;
}
.doublebutton a {
  border: solid 1px #d5d5d5;
  background-color: #fbfbfb;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  height: 16px;
  outline: 0;
  padding: 5px 6px;
  display: block;
  float: left;
}
.doublebutton a span {
  text-indent: -9999px;
  float: left;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons.png);
  cursor: pointer;
}
.doublebutton .list-button {
  margin-right: -1px;
  border-right: none;
}
.doublebutton .list-button span {
  background-position: -16px -16px;
}
.doublebutton .grid-button {
  border-left: none;
}

label {
  line-height: 20px;
  display: inline-block;
}

.checkbox input {
  display: none;
}

.checkbox label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #999;
  color: #de3544;
  text-align: center;
  margin-right: 7px;
}

.checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
}

span.active a.grid-button span {
  background-position: -16px 0;
}
span.active a.list-button {
  border: solid 1px #d5d5d5;
  background-color: #fbfbfb;
}
span.active a.list-button span {
  background-position: -0 -16px;
}

.active a.grid-button,
.doublebutton a.list-button {
  background-color: #de3544;
  border-color: #c11f2e;
}

.ui-widget {
  font-family: 'Open Sans';
  font-size: 1em;
}

.ui-dialog {
  background: #fff;
  box-shadow: 0 5px 15px 2px #999;
  border-radius: 0;
  z-index: 9999;
  padding: 0;
}
.ui-dialog .ui-button {
  border: 0;
  border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 20px;
}
.ui-dialog .ui-dialog-content {
  padding: 20px;
  box-shadow: none;
}
.ui-dialog .ui-dialog-buttonpane {
  background: #fff;
  border-top: 1px solid #d3d3d3;
}
.ui-dialog .ui-dialog-buttonpane .ui-button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: #333 !important;
  font-size: 1em;
}
.ui-dialog .ui-dialog-buttonpane .ui-buton:hover {
  color: #333 !important;
}

.alert_form_container {
  padding: 0em 10px 1em;
}

.alert_form {
  text-align: center;
}

.alert_form button {
  width: 100%;
}

.alert_form input {
  width: 100%;
}

.alert_form h3 {
  padding: .5em 0px;
  font-size: 17px;
}

.control-group {
  clear: both;
  margin-bottom: 10px;
}

.form-content {
  padding: 10px 20px;
}

.form-container .controls input,
.form-container .controls .select-box,
.form-container .meta input {
  width: 260px;
}

.form-container .ui-drop-files {
  width: 260px;
  padding: 0 10px;
  height: 70px;
  text-align: center;
  font-size: 18px;
  line-height: 70px;
  color: rgba(0, 0, 0, 0.5);
}

.form-container .controls {
  font-size: 1em;
}

.form-container .checkbox input,
input[type="checkbox"],
.form-container .meta input[type="checkbox"],
.form-container .controls input[type="checkbox"],
input[type="radio"],
.form-container .meta input[type="radio"],
.form-container .controls input[type="radio"] {
  width: auto;
  height: auto;
  vertical-align: middle;
  margin-top: -2px;
  padding: 0;
  border: none;
  box-shadow: none;
}

.meta_list .meta ul {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
}
.meta_list .meta ul li {
  clear: both;
  list-style: none;
}
.meta_list .meta ul li label {
  width: auto;
  margin-left: 5px;
  float: none;
}
.meta_list .meta input[type="checkbox"] {
  margin-top: 10px;
}
.meta_list .meta .cf_date_interval {
  width: 100px;
}
.meta_list .meta:after {
  content: "";
  clear: both;
}

.form-container .checkbox {
  margin-bottom: 5px;
}
.form-container .checkbox label {
  font-size: 0.85em;
}

.form-container button {
  margin: 20px 0;
}

.form-horizontal .actions {
  border-top: solid 1px #eeeeee;
  padding: 10px 25px;
  margin: 0 25px;
}
.form-horizontal .actions a {
  font-size: 0.85em;
}
.form-horizontal .control-label {
  float: left;
  width: 25%;
  padding-right: 15px;
  text-align: right;
}
.form-horizontal .control-label.required:after {
  content: " * ";
  color: #de3544;
}
.form-horizontal .controls {
  width: 75%;
  float: left;
}
.form-horizontal .controls label {
  float: none;
  width: auto;
  padding-top: 0;
  text-align: left;
}
.form-horizontal .control-group,
.form-horizontal .meta_list .meta {
  clear: both;
  margin-bottom: 10px;
}
.form-horizontal .control-group:after, .form-horizontal .control-group:before {
  content: " ";
  display: table;
  clear: both;
}

.form-container.box {
  border: solid 1px #eeeeee;
  border-top: 4px solid #de3544;
  margin: 0 auto;
  width: 600px;
}
.form-container.box .header {
  padding: 10px 15px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 15px;
}
.form-container.box .header h1 {
  margin: 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.control-label {
  font-weight: normal;
  font-size: 15px;
  text-align: right;
  padding: 0;
}

input#price {
  width: 120px;
}

#item-post select {
  width: 100%;
}

#item-post #plugin-hook .row {
  margin: 0;
}
#item-post #plugin-hook .form-group {
  margin: 15px 0;
}
#item-post #plugin-hook label {
  float: left;
  text-align: right;
  font-weight: 500;
  width: 30%;
  margin-right: 0;
  padding-right: 15px;
}
#item-post #plugin-hook .select-box {
  width: 260px;
}

.qq-upload-button {
  background: #fff4f9;
  border: 1px dashed #ccc;
}

#restricted-fine-uploader {
  padding: 0 !important;
}

.form-container .photos input {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.photos_div {
  margin-bottom: 20px;
}

.form-container .controls #photos a {
  font-size: 12px !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  line-height: 24px;
  padding: 7px;
}

select option:hover {
  background: #de3544;
  color: #fff;
}

.select-box + .select-box {
  margin-top: 10px;
}

.ui-drop-files {
  box-shadow: none;
  border: 4px dashed rgba(0, 0, 0, 0.2);
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
}

.bordered-box {
  border: solid 1px #eeeeee;
  padding: 10px;
  font-size: 0.75em;
}
.bordered-box h2 {
  font-size: 1.2em;
  margin-top: 0;
  font-weight: bold;
}

.flashmessage {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  color: #ffffff;
  position: relative;
  border: 2px solid #ccc;
}

.flashmessage-warning,
.help-box {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.flashmessage-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.flashmessage-ok {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flashmessage-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.help-box {
  padding: 5px 10px;
  display: inline-block;
}

.flashmessage .ico-close {
  position: absolute;
  top: 15px;
  right: 20px;
  float: right;
  font-size: 18px;
  line-height: 18px;
  text-shadow: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.flashmessage .ico-close {
  color: #777;
  opacity: .5;
}

.flashmessage .ico-close:hover {
  opacity: 1;
}

#error_list,
.error_list {
  list-style: none;
}

#error_list li,
.error_list li {
  list-style: none;
  padding: 2px 0 2px 18px;
}

#error_list li label,
.error_list li label {
  margin-top: 0;
  float: none;
  width: auto;
}

/*# sourceMappingURL=ui.css.map */
