.search .box .collapsable { display:none;}
.search .box  { display:none;}
.search.listings { margin:0;}
#main {
    margin:0;
}
 .headline {
        h1 { font-size: 2.2em;}
        h6 { font-size: 1em; }
    }
.form-container {
 .control-label{
        float: none;
        text-align: left;
    }

    .controls {
        margin-left: 0;
        }

    .actions a { display: block; }
 }
body.user-public-profile .container-user-card .user-card {
    .user-card-right,
    .user-card-left {
        float: none;
        text-align: center;
        width: 100%;
        position: static;
    }
    #map_canvas {
        position: absolute;
    }
}